/* responsive desgin for mobile  */


@media screen and (max-width: 992px) {

    .menu-items{
        display: none;
    }
    .humberg-icon{
        display: flex;
        width: 50px;
    }
    .banner-section-wrapper {
        border-radius: 16px;
        background-size: cover;
        padding-top: 40px;

    }
    .banner-title {
        font-size: 30px;
        font-weight: 800;
        margin-top: 20px;

    }

    .banner-description {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

    }

    .search-form {
        margin-bottom: 50px;
    }

    .search-form>form {
        width: 287px;
        flex-direction: column;
        gap: 16px;
    }

    .popular-tour-section-wrapper {
        flex-direction: column;
    }

    /* tour section start here */
    .popular-tour-section-wrapper {
        margin-top: 10px;

    }

    .tour-section-left-side,
    .tour-section-right-side {
        width: auto;
    }

    .tour-section-left-side {
        padding: 15px;

    }



/* why choose use section start here */
.why-choose-us-section-wrapper {

    margin-top:10px;


}
.why-us-text{
    margin-bottom: 20px;
}
.why-us-text h2, .tour-section-left-side h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 1.8em;
    font-weight: 800;

}
.why-us-points{
    flex-direction: column;

}
.why-us-points-left,.why-us-text{
    width:300px;
    padding: 20px 30px;

}
.princing-box {
   flex-direction: column;
    background-size:cover;
    background-position: center center;
    /* height: 500px; */
    height: auto;
    margin: 15px;
}
.pricing-box1{
    width: auto;
    margin: 55px 20px;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.middle-row{
    flex-direction: column-reverse;
}
.tour-section-right-side>iframe{
    width: 350px;
    height: 250px;
    border-radius: 16px;
}
/* news letter seciton design started */
.news-letter-section-wrapper {

    flex-direction: column;
    height: auto;
    padding: 20px;
    width: auto;
}


.news-letter-left {
    width: auto;
    padding: 3%;
    height: 100%;
}
.news-letter-right{width: auto;}

.offer {
    display: inline-block;
    margin-left:28%;
    padding: 25px 20px;
    transform: rotate(-19.628deg);
    color: #FFF;


}


footer{

    margin-top: 100px;

}
.footer-wrapper{
    padding-top: 80px 20px;
    width: 100%;

}

.footer-wrapper>img{
    width: 250px;
}

} 

