/* global design start here */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;

}

.menu-section,
.hero-section,
.popular-tour-section,
.why-choose-us-section,.pricing-section {
    max-width: 1170px;
    margin: 0 auto;
}

.menu-container,
.banner-section-container,
.popular-tour-section-container,
.why-choose-us-section-container,.pricing-section-containe {
    width: auto;
    padding: 10px;
}

.primary-button {
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 35px;
    color: #FFF;
    border: 0px;
}

/* Global designs are end here */

/* Menu Section Style start Here */

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-items>ul>li {
    display: inline-flex;


}

.menu-items>ul>li a {
    text-decoration: none;
    margin-right: 12px;
}

.banner-section-wrapper {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13.png);
    size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;

    font-weight: 800;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    padding-left: 247px;
    padding-right: 247px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.search-form {
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
}

.search-form>form {
    display: flex;
    gap: 15px;

}

.textinput,
#textinput {
    padding: 16px 60px 16px 16px;
    border-radius: 8px;
}


/* Menu Section Style end Here */

/* tour-section start here */

.popular-tour-section-wrapper {
    display: flex;
    margin-top: 100px;

}

.tour-section-left-side {
    padding: 0px 60px 30px 0px;
    width: 50%;
}

.tour-section-left-side h2 {
    color: #131318;
    font-size: 2.5em;
    font-weight: 800;
}

.tour-section-left-side p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tour-section-left-side ul {
    padding: 16px 0px 16px 40px;

}

.tour-section-right-side img {
    width: 100%;
}

.tour-section-right-side {
    width: 50%;
}

/* tour-section end here */
/* why choose us section start here*/


.why-choose-us-section-wrapper {
    width: 100%;
    margin-top: 100px;

}

.why-us-text {
    text-align: center;
    margin: 0 auto;
    width: 650px;
    margin-bottom: 50px;
}

.why-us-text h2{
    color: #131318;
    font-family: Mulish;
    font-size: 2.8em;
    font-weight: 800;
    margin-bottom: 25px;

}
.why-us-text p {
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px; 
}

.why-us-points {
    display: flex;
    gap: 25px;

}



.why-us-points-left {
    border-radius: 16px;
    background-color: rgba(251, 180, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 30px 35px;
    width: 570px;
}

.why-us-points-left h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;

}

.why-us-points-left p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.why-us-points-right {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
}

.why-us-lower-parta {
    width: 570px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background-color: rgba(233, 68, 68, 0.05);
    margin: 25px auto;
    padding: 30px 35px;
}



/* why choose us section end  here*/



.pricing-box1>ul>li{
list-style: none;
display: inline-flex;

}
