/* global design start here */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;

}

.menu-section,
.hero-section,
.popular-tour-section,
.why-choose-us-section,
.pricing-section,
.newsletter-section,
.destination-section {
    max-width: 1170px;
    margin: 0 auto;
}

.menu-container,
.banner-section-container,
.popular-tour-section-container,
.why-choose-us-section-container,
.pricing-section-containe,
.news-letter-section-containe,
.destination-container {
    width: auto;
    padding: 10px;
}

.primary-button {
    border-radius: 8px;
    background: #f68712;
    padding: 14px 35px;
    font-size: medium;
    color: #FFF;
    border: 0px;
}

/* Global designs are end here */

/* Menu Section Style start Here */

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-items>ul>li {
    display: inline-flex;


}

.menu-items>ul>li a {
    text-decoration: none;
    margin-right: 12px;
}

.humberg-icon {
    display: none;
}

.banner-section-wrapper {
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13.png);
    size: cover;
    background-repeat: no-repeat;
    height: 500px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner-title {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;

    font-weight: 800;

}

.banner-description {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    padding-left: 247px;
    padding-right: 247px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.search-form {
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin-top: 48px;
}

.search-form>form {
    display: flex;
    gap: 15px;

}

.textinput,
#textinput {
    padding: 16px 60px 16px 16px;
    border-radius: 8px;
}


/* Menu Section Style end Here */

/* tour-section start here */

.popular-tour-section-wrapper {
    display: flex;
    margin-top: 100px;

}

.tour-section-left-side {
    padding: 0px 60px 30px 0px;
    width: 50%;
}

.tour-section-left-side h2 {
    color: #2C3892;
    font-size: 2.5em;
    font-weight: 800;
}

#btn {
    margin-top: 20px;
}

.tour-section-left-side p,
li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tour-section-left-side ul {
    padding: 16px 0px 16px 40px;

}

.tour-section-right-side img {
    width: 100%;
}

.tour-section-right-side {
    width: 50%;
}

/* tour-section end here */
/* destiantion section start here*/
.destination-wrapper {
    width: 100%;
    margin-top: 80px;



}

.first-row, .second-row, .thire-row{
    width: auto;
    display: flex;
    gap: 20px;

}

.first-row-left {
    width: 50%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;


}
.right{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
}
.second-row{
    margin-top:  20px;
}
.second-row-left{
    width: 30%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 6.png'), lightgray 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;

}
.second-row-middle{
    width: 50%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 7.png'), lightgray 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;

}
.second-row-right{
    width: 20%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 9.png'), lightgray 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;
}

.thire-row{
    margin-top: 20px;
}
.third-row-left{
    width: 40%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;

}
.third-row-right{
    width: 58%;
    height: 300px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('../Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 1.2em;
}

/* destiantion section end here*/


/* why choose us section start here*/


.why-choose-us-section-wrapper {
    width: 100%;
    margin-top: 100px;

}

.why-us-text {
    text-align: center;
    margin: 0 auto;
    width: 650px;
    margin-bottom: 50px;
}

.why-us-text h2 {
    color: #2C3892;
    font-family: Mulish;
    font-size: 2.8em;
    font-weight: 800;
    margin-bottom: 25px;

}

.why-us-text p {
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
}

.why-us-points {
    display: flex;
    gap: 25px;

}



.why-us-points-left {
    border-radius: 16px;
    background-color: rgba(251, 180, 99, 0.05);
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 30px 35px;
    width: 570px;
}

.why-us-points-left h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;

}

.why-us-points-left p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.why-us-points-right {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background-color: rgba(41, 206, 246, 0.05);
}

.why-us-lower-parta {
    width: 570px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background-color: rgba(233, 68, 68, 0.05);
    margin: 25px auto;
    padding: 30px 35px;
}



/* why choose us section end  here*/
/* Pricing Section start here*/

.pricing-section-wrapper {
    margin-top: 50px;
}

.princing-box {
    display: flex;
    justify-content: end;
    border-radius: 16px;
    background-image: url('../Images/Group\ 39.png');
    background-size: cover;
    height: 500px;
}

.middle-row {
    background-image: url('../Images/Group\ 40.png');
    margin: 20px 0px;

}

.pricing-box1 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 50%;
    margin: 55px 40px;
    padding: 35px 50px 35px 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pricing-box1 h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 26px;
    margin-bottom: 15px;

}

.pricing-box1 h4 {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #FF5400;
}

.hide {
    visibility: hidden;
}

.pricing-box1>ul>li {
    list-style: none;
    display: inline-flex;
    margin-right: 15px;
}


.tour-section-right-side {
    margin-top: 20px;

}

.tour-section-right-side>iframe {
    border-radius: 16px;
}

/* news letter seciton design started */
.news-letter-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 25px;
    height: 320px;

}

.news-letter-left {
    width: 35%;
    padding: 3%;
    border: 1px solid #f68712;
    border-radius: 16px;
    height: 100%;
}

.news-letter-left h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 16px;

}

hr {
    margin: 40px 0px;
    height: 1px;
    border-width: 0;
    color: rgba(128, 128, 128, 0.123);
    background-color: rgba(128, 128, 128, 0.288);
}

.news-letter-left form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


}

.news-letter-left form input {
    margin: 5px 0px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);

}

#sumbitd {
    background: #f68712;
    color: #FFF;
    font-size: medium;

}


.news-letter-right {
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;

}

.news-letter-right img {
    width: 100%;
    height: 390px;
    margin-bottom: -160px;



}

.offer {
    display: inline-block;
    margin-left: 58%;
    padding: 25px 50px;
    border-radius: 16px;
    background: #f68712;
    transform: rotate(-19.628deg);
    text-align: center;
    border-radius: 16px;
    color: #FFF;


}

/* news letter seciton design ended */
/* footer seciton design start */

footer {
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 150px;
    width: 100%;
}

.footer-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 45%;
    text-align: center;
    margin: 0 auto;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 15px;
    margin-bottom: 40px;

}

.footer-wrapper>ul {
    display: flex;
    list-style: none;
    justify-content: center;


}

.footer-wrapper>ul>li {
    margin-right: 15px;
    color: #f68712;

}

.footer-wrapper>ul>li>a {
    color: black;

}

.footer-wrapper>ul>li>a:hover {
    color: #f68712;
}

/* footer seciton design ended */